- if @user == current_user
  %h3 Create new Manager
  = form_for(User.new, url: create_user_index_path) do |f|
    %p
      = f.label :first_name
      = f.text_field :first_name
    %p
      = f.label :last_name
      = f.text_field :last_name
    %p
      = f.label :email
      = f.text_field :email
      = f.hidden_field :type, value: 'Manager'
    %p
      = f.label :password
      = f.password_field :password
    %p
      = f.submit 'Create Manager'