.panel.panel-white
  .panel-heading
    %h2.panel-title Fitboxes

  -# - if current_user != @user
  -#   = link_to 'New FitBox', new_fit_box_path
  - if @user.fit_boxes.count > 0
    %table.table
      %thead
        %th ID
        %th User
        %th Status
        %th
        %th
      %tbody
        - @user.fit_boxes.each_with_index do |box, i|
          %tr
            %td
              = link_to box do
                Fitbox # 
                = box.id
            %td
              = box.client.first_name
              &nbsp;
              = box.client.last_name
            %td
              ???
            %td= link_to 'Edit', edit_fit_box_path(box), class: 'btn btn-default'
            %td= link_to 'Destroy', fit_box_path(box), method: :delete, class: 'btn btn-danger'
  - else
    .panel-body
      %h4.text-center No FitBoxes


- if current_user != @user
  .panel.panel-white
    .panel-heading
      %h2.panel-title Create fitbox
      .heading-elements
        %a.btn.btn-success{:id => 'sendToFitbox',:href => "#", 'data-client-id' => @user.id, 'data-manager-id' => current_user.id } Send
    .panel-body
      .tabbable
        %ul.nav.nav-tabs.nav-tabs-bottom
          - @items.group_by(&:kind).each_with_index do |(kind, items), index|
            - if index == 0
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab#{kind}"}= kind
            - else                
              %li
                %a{"data-toggle" => "tab", :href => "#tab#{kind}"}= kind
        .tab-content
          - @items.group_by(&:kind).each_with_index do |(kind, items), index|            
            %div{:class => "tab-pane #{'active' if index == 0 }", 'id'=>"tab#{kind}"}
              .container-fluid
                .row
                  - items.each_with_index do |i, index|
                    .col-lg-3.col-md-3
                      %a{:href=>"#", 'data-cat-name' => "#tab#{kind}", :class => 'product-item', :id => i.id }
                        .panel.text-center
                          .panel-heading
                            %h5.panel-title= i.name if i.name
                            .eading-elements
                              %span.label.label-success.label-lg
                                =i.size        if i.size
                          .panel-body
                            = image_tag(i.picture_url, height: '200') if i.picture?
                          .panel-footer
                            %span.text-left
                              = i.description if i.description
