= image_tag(@user.avatar_url) if @user.avatar?
.br
  = @user.first_name
  = @user.last_name
.br
  = @user.email
- if @user == current_user
  .br
    = link_to 'Edit Profile', edit_registration_path(current_user)

- if current_user.type == 'Admin'
  = render 'admin_show'
  
- if current_user.type == 'Manager'
  = render 'manager_show'

- if current_user.type == 'Client'
  = render 'client_show'

/ - if current_user.type == 'Manager'
/ - if current_user != @user
/   = link_to 'New FitBox', new_fit_box_path
/ - unless current_user.type == 'Admin'
/ .br
/   - if @user.fit_boxes.count > 0
/     %h3 Fit Boxes
/     %table
/       %thead
/         %th num
/         %th Name
/         %th Description
/         %th
/         %th
/         %th
/       %tbody
/         - @user.fit_boxes.each_with_index do |box, i|
/           %tr
/             %td= i+1
/             %td= box.name
/             %td= box.description
/             - if @user == current_user
/               %td= link_to 'Show', box
/               %td= link_to 'Edit', edit_fit_box_path(box)
/               %td= link_to 'Destroy', fit_box_path(box), method: :delete
/ - else
/   No FitBoxes
/ .br
/ - if current_user.type == 'Manager'
/   - if current_user != @user
/     %h3 New FitBox
/     = form_for(FitBox.new) do |f|
/       .br
/         = f.label :name
/       .br
/         = f.text_field :name
/         = f.hidden_field :manager_id, value: "#{current_user.id}"
/         = f.hidden_field :client_id, value: "#{@user.id}"
/       .br
/         = f.label :description
/       .br
/         = f.text_area :description
/       .br
/         = f.submit
/     .br
/     %h3 Items
/     - @items.group_by(&:kind).each do |kind, items|
/       %h3= kind
/       %table
/         %thead
/           %th img
/           %th Name
/           %th Desciption
/           %th UPC
/           %th Color
/           %th Size 
/         %tbody
/           - items.each_with_index do |i, index|
/             %tr
/               %td= image_tag(i.picture_url) if i.picture?
/               %td= i.name        if i.name
/               %td= i.description if i.description
/               %td= i.upc         if i.upc
/               %td= i.color       if i.color
/               %td= i.size        if i.size
/ - @items.each_with_index do |i, index|
/   %tr
/     %td= (i.kind        if i.kind) if index == 0
/     %td= i.name        if i.name
/     %td= i.description if i.description
/     %td= i.upc         if i.upc
/     %td= i.color       if i.color
/     %td= i.size        if i.size
/     %td= link_to 'show', item_path(i)
/     %td= link_to 'edit', edit_item_path(i)
/     %td= link_to 'destroy', item_path(i), method: :delete
/ - else
/ - if @user == current_user
/   %h3 Create new Manager
/   = form_for(User.new, url: create_user_index_path) do |f|
/     %p
/       = f.label :first_name
/       = f.text_field :first_name
/     %p
/       = f.label :last_name
/       = f.text_field :last_name
/     %p
/       = f.label :email
/       = f.text_field :email
/       = f.hidden_field :type, value: 'Manager'
/     %p
/       = f.label :password
/       = f.password_field :password
/     %p
/       = f.submit 'Create Manager'
