= form_for(@item) do |f|
  .br
    = f.label :name
    = f.text_field :name
  .br
    = f.label :description
    = f.text_field :description
  .br
    = f.label :upc
    = f.text_field :upc
  .br
    = f.label :color
    = f.text_field :color
  .br
    = f.label :picture
    = f.file_field :picture
  .br
    = f.label :kind
    = f.select :kind, options_for_select(Item.kinds.keys, @item.kind), include_blank: true
  .br
    = f.label :size
    = f.text_field :size
  .br
    = f.submit 
